<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!--BeanNameUrlHandlerMapping-->
    <!--bean name + all its alias <=> url-->
    <bean name="/welcome" class="io.dungdm93.summer.GreetingController"/>
    <alias name="/welcome" alias="/hello"/>
    <alias name="/welcome" alias="/"/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>
